* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(231, 157, 238),rgb(135, 233, 126));
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
